JuraganDiskon/src/conf/xml-resources/web-service-references/EditProduct/wsdl/localhost_8081/MarketplaceWebService/EditProduct.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://juragandiskon.me.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://juragandiskon.me.com/" name="EditProduct">
<types>
<xsd:schema>
<xsd:import namespace="http://juragandiskon.me.com/" schemaLocation="http://localhost:8081/MarketplaceWebService/EditProduct?xsd=1"/>
</xsd:schema>
</types>
<message name="getEditingProdInfo">
<part name="parameters" element="tns:getEditingProdInfo"/>
</message>
<message name="getEditingProdInfoResponse">
<part name="parameters" element="tns:getEditingProdInfoResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="editTheProduct">
<part name="parameters" element="tns:editTheProduct"/>
</message>
<message name="editTheProductResponse">
<part name="parameters" element="tns:editTheProductResponse"/>
</message>
<message name="validateAccessToken">
<part name="parameters" element="tns:validateAccessToken"/>
</message>
<message name="validateAccessTokenResponse">
<part name="parameters" element="tns:validateAccessTokenResponse"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<portType name="EditProduct">
<operation name="getEditingProdInfo">
<input wsam:Action="http://juragandiskon.me.com/EditProduct/getEditingProdInfoRequest" message="tns:getEditingProdInfo"/>
<output wsam:Action="http://juragandiskon.me.com/EditProduct/getEditingProdInfoResponse" message="tns:getEditingProdInfoResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://juragandiskon.me.com/EditProduct/getEditingProdInfo/Fault/IOException"/>
</operation>
<operation name="editTheProduct">
<input wsam:Action="http://juragandiskon.me.com/EditProduct/editTheProductRequest" message="tns:editTheProduct"/>
<output wsam:Action="http://juragandiskon.me.com/EditProduct/editTheProductResponse" message="tns:editTheProductResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://juragandiskon.me.com/EditProduct/editTheProduct/Fault/IOException"/>
</operation>
<operation name="validateAccessToken">
<input wsam:Action="http://juragandiskon.me.com/EditProduct/validateAccessTokenRequest" message="tns:validateAccessToken"/>
<output wsam:Action="http://juragandiskon.me.com/EditProduct/validateAccessTokenResponse" message="tns:validateAccessTokenResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://juragandiskon.me.com/EditProduct/validateAccessToken/Fault/MalformedURLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://juragandiskon.me.com/EditProduct/validateAccessToken/Fault/IOException"/>
</operation>
</portType>
<binding name="EditProductPortBinding" type="tns:EditProduct">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEditingProdInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="editTheProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="validateAccessToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EditProduct">
<port name="EditProductPort" binding="tns:EditProductPortBinding">
<soap:address location="http://localhost:8081/MarketplaceWebService/EditProduct"/>
</port>
</service>
</definitions>