JuraganDiskon/web/WEB-INF/wsdl/localhost_8081/MarketplaceWebService/Like.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://juragandiskon.me.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://juragandiskon.me.com/" name="Like">
<types>
<xsd:schema>
<xsd:import namespace="http://juragandiskon.me.com/" schemaLocation="http://localhost:8081/MarketplaceWebService/Like?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="validateAccessToken">
<part name="parameters" element="tns:validateAccessToken"/>
</message>
<message name="validateAccessTokenResponse">
<part name="parameters" element="tns:validateAccessTokenResponse"/>
</message>
<message name="MalformedURLException">
<part name="fault" element="tns:MalformedURLException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="setLike">
<part name="parameters" element="tns:setLike"/>
</message>
<message name="setLikeResponse">
<part name="parameters" element="tns:setLikeResponse"/>
</message>
<portType name="Like">
<operation name="hello">
<input wsam:Action="http://juragandiskon.me.com/Like/helloRequest" message="tns:hello"/>
<output wsam:Action="http://juragandiskon.me.com/Like/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="validateAccessToken">
<input wsam:Action="http://juragandiskon.me.com/Like/validateAccessTokenRequest" message="tns:validateAccessToken"/>
<output wsam:Action="http://juragandiskon.me.com/Like/validateAccessTokenResponse" message="tns:validateAccessTokenResponse"/>
<fault message="tns:MalformedURLException" name="MalformedURLException" wsam:Action="http://juragandiskon.me.com/Like/validateAccessToken/Fault/MalformedURLException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://juragandiskon.me.com/Like/validateAccessToken/Fault/IOException"/>
</operation>
<operation name="setLike">
<input wsam:Action="http://juragandiskon.me.com/Like/setLikeRequest" message="tns:setLike"/>
<output wsam:Action="http://juragandiskon.me.com/Like/setLikeResponse" message="tns:setLikeResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://juragandiskon.me.com/Like/setLike/Fault/IOException"/>
</operation>
</portType>
<binding name="LikePortBinding" type="tns:Like">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateAccessToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MalformedURLException">
<soap:fault name="MalformedURLException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="setLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Like">
<port name="LikePort" binding="tns:LikePortBinding">
<soap:address location="http://localhost:8081/MarketplaceWebService/Like"/>
</port>
</service>
</definitions>